.grid {
    position: absolute;
    width: 560px;
    height: 300px;
    border: solid red 1px;
    margin-top: 20px;
}
.block {
    position: absolute;
    width: 100px;
    height: 20px;
    background-color: rgb(25, 0, 255);
}
.user {
    position: absolute;
    width: 100px;
    height: 20px;
    background-color: rgb(55, 0, 107);
}
.ball {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: red;
    border-radius: 10px;
}